.FormInput {
  width: 100%;
  border-bottom: 1px solid #b1b3b6;
  position: relative;
  > input {
    width: 100%;
    padding: 0.5rem;
    background-color: transparent;
    border: none;
    color: white;
  }
  > input:focus-visible,
  textarea:focus-visible {
    outline: none;
  }
}
