.Spinner{
  width: 100%;
  position:relative;
  >.Spinner__gavel{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 50%;
  }
  >.Spinner__wave{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid white;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    animation: wave 1s ease-in-out infinite;
  }
}