---
import Layout from '../layouts/Layout.astro';
import StandardArticle from '../components/StandardArticle.astro';
import Hero from '../components/Hero.astro';
import AboutMe from '../components/AboutMe.astro';
import MainSection from '../layouts/MainSection.astro';
import Experiencie from '../components/Experiencie/Experiencie';

---

<Layout title="Welcome to Astro.">
	<main>
		<Hero/>
		<main>
			<MainSection gradient='radial-gradient(closest-side, rgba(51,74,121,1) 0%, rgba(0,0,0,1) 100%)'>
				<AboutMe/>
			</MainSection>
			<Experiencie client:load />
			<MainSection gradient='radial-gradient(closest-side, rgba(51,74,121,1) 0%, rgba(0,0,0,1) 100%)'>
				<AboutMe/>
			</MainSection>





		</main>



	</main>
</Layout>


../components/Experiencie/Experiencie