---
import Chips from "./Chips.astro";
import StandardArticle from "./StandardArticle.astro";
import me from '../assets/aboutMe.webp'
import { Image } from "astro:assets";
import Training from "./Training.astro";
import Github from "./icons/Github"
import Linkedin from "./icons/Linkedin";
import Controller from "./icons/Controller";
import FatCap from "./icons/FatCap";
import Gpu from "./icons/Gpu";
import Camera from "./icons/Camera";
import RightArrow from "./icons/RightArrow.astro";
import { ScrollContainer} from "react-indiana-drag-scroll";
import 'react-indiana-drag-scroll/dist/style.css';


---
<StandardArticle span={{col:2}} >
  <div class="aboutMe">
    <Image src={me} alt="Michael Lara Sánchez" class="aboutMe__image" width={500} />
    <div class="aboutMe__text">
      <h2>Sobre mi</h2>
      <p><b>Frontend</b> developer con conocimientos de <b>UX/UI</b> y <b>backend</b>. Mi stack tecnológico principal es <b>React, MongoDB y NodeJS</b>, aunque nunca digo que no a aprender nuevas tecnologias y frameworks. ¿Quien dijo miedo?</p>
      <div class="aboutMe__chips" >
        <Chips chips={
          [
            'Detallista',
            'Team player',
            'Creativo',
            'Organizado',
            'Autodidacta',
            'Implicado',
            'Comunicativo',
            'Curioso'
          ]
        }/>
      </div>
      </div>
  </div>
</StandardArticle>
<StandardArticle isBtn>
  <a href="https://github.com/MrSetOne" target="_blank" class="gitHub">
    <div>
      <Github client:load size="40%" />
      <span>Visita mi perfil de</span>
      <h2>GitHub</h2>
    </div>
  </a>
</StandardArticle>
<div class="hobbies">
  <div class="hobbies__title">
    <h2>Mis aficiones</h2>
    <RightArrow/>
  </div>
  <ScrollContainer 
    client:load 
    className="scroll-container" 
    style={{
      width:'100%', 
      cursor:'default'
    }} 
  >
    <div class="hobbies__content" >
      <StandardArticle isBtn isSquare isCircle>
        <a href="#">
          <Controller size="50%" client:load />
          <span>Videojuegos</span>
        </a>
      </StandardArticle>
      <StandardArticle isBtn isSquare isCircle>
        <a href="#">
          <FatCap size="50%" client:load />
          <span>Arte urbano</span>
        </a>
      </StandardArticle>
      <StandardArticle isBtn isSquare isCircle>
        <a href="#">
          <Gpu size="50%" client:load />
          <span>Hardware</span>
        </a>
      </StandardArticle>
      <StandardArticle isBtn isSquare isCircle>
        <a href="#">
          <Camera size="50%" client:load />
          <span>Fotografia</span>
        </a>
      </StandardArticle>
    </div>
  </ScrollContainer>
</div>
<article class="mainArticle training__container" >
  <div class="training">
    <h2>Formación</h2>
    <Training/>
  </div>
</article>
<StandardArticle isBtn>
  <a href="https://github.com/MrSetOne" target="_blank" class="linkedIn">
    <div>
      <Linkedin client:load size="40%" />
      <span>Conecta conmigo en</span>
      <h2>Linkedin</h2>
    </div>
  </a>
</StandardArticle>

<style lang="scss">

  .aboutMe{
    position: relative;
    @media screen and (max-width: 1100px) {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      gap: 2rem;
    }
    @media screen and (max-width: 800px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
      
    
    .aboutMe__text{
      position: relative;
      z-index: 1;
      width: calc(100% - 20rem);
      display: flex;
      flex-direction: column;
      gap:1.3rem;
      @media screen and (max-width: 800px){
        width: 100%;
      }
      h2{
        color:#FCA311;
        font-size: 2.5rem;
        font-weight: 700;
        margin: 0;
        @media screen and (max-width: 800px){
          text-align: center;
        }
      }
    }
    .aboutMe__image{
      z-index: 0;
      height: 37rem;
      width: auto;
      position: absolute;
      right: -21%;
      top:-10%;
      @media screen and (max-width: 1210px) {
        right: -37%;
      }
      @media screen and (max-width: 1100px) {
        position: relative;
        right: 0;
        top: 0;
        height: 17rem;
        background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
        border-radius: 50%;
      }
      @media screen and (max-width: 800px) {
        width: 65%;
        height: 65%;
      }
    }
    .aboutMe__chips{
      display: flex;
      flex-wrap: wrap;
      gap: .5rem;
      @media screen and (max-width: 800px){
        justify-content: space-around;
      }
    }
  }

  .gitHub, .linkedIn{
    height: 100%;
    width: 100%;
    text-decoration: none;
    >div{
      height: 100%;
      color:white;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      @media screen and (max-width: 1100px) {
        aspect-ratio: 1/1 ;
        padding: 1rem;
        height: auto;
      }
      @media screen and (max-width: 500px){
        span{
          display: none;
        }
        h2{
          color: white;
          margin-top: 1rem;
        }
      }
    }
    span{
      margin-top: 1rem;
      text-align: center;
    }
    h2{
      color:#FCA311;
      font-size: min(2.25rem, 6vw);
    }
  }

  .hobbies{
    height: 100%;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 1100px) {
      grid-column: span 2;
      grid-row: 4;
    }
    @media screen and (max-width: 700px) {
      gap: 1rem;
    }
    .scroll-container{
      width: 100%;
      overflow: hidden;
      .hobbies__content{
        height: 100%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
        align-items: center;
        gap:1rem;
        @media screen and (max-width: 1100px) {
          display: flex;
          align-items: center;
        }
        @media screen and (max-width: 700px) {
          width: 150vw;
          span{
            display: none;
          }
        }
      }
    }   
    >.hobbies__title{
      display: none;
      h2{
        @media screen and (max-width: 1100px) {
          display: block;
          grid-column: span 4;
          color: #FCA311;
          color: white;
          text-align: center;
          font-size: 2.5rem;
          padding: 1rem 0;
          padding-bottom: 0;
        }
      }
      @media screen and (max-width: 1100px) {
        display: flex;
        flex-direction: column;
        width: 100%;
      }
      @media screen and (max-width: 700px) {
        align-items: flex-start;
      }
      @media screen and (max-width: 500px){
        h2{
          color:#FCA311 ;
        }
      }
    }
    a{
      color: white;
      text-decoration: none;
      display: flex;
      gap: .5rem;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%; 
      font-weight:700 ;
    }
  }

  .training__container{
    grid-column: span 2;
    grid-row: span 2;
    padding:1.9rem;
    border-radius: 1.25rem;
    overflow: hidden;
    background-color: #334a7963;
    border: 1px solid #62769F;
    color: white;
    backdrop-filter: blur(4px);
    box-shadow: #00000070 0px 5px 13px 0px;
    transition: all 1s;
    @media screen and (max-width: 1100px) {
      grid-row: 2;
    }
    .training{
      display: flex;
      flex-direction: column;
      gap: 3rem;
      align-items: center;
      justify-content: center;
      height: 100%;
      padding: 0rem 2rem;
      @media screen and (max-width: 1100px) {
        grid-row: 2;
        padding: 0;
      }
      h2{
        font-size: min(4rem, 10vw);
        padding: 1.2rem .6rem;
        border: .7rem solid white;
        text-transform: uppercase;
        color:#FCA311;
      }
    }
  }



</style>