---
import { Image } from "astro:assets";
import HeroArrow from "./HeroArrow";
import HeroTitles from "./HeroTitles";
import me from '../assets/meHero.png'

---

<header class="hero">
  <div class="hero__arrow">
    <HeroArrow client:visible />
  </div>
  <div class="hello__text">
    <span class="hero__hello">
      ¡Hola! Mi nombre es
    </span>
    <h1>
      Michael Lara
    </h1>
    <HeroTitles client:visible />
  </div>
	<svg
		class="hero__deco"
		xmlns="http://www.w3.org/2000/svg"
		width="100%"
		fill="none"
		viewBox="0 0 1440 312"
	>
		<path fill="#000" d="M0 312V0l1440 219.968V312H0z"></path>
	</svg>
  <Image src={me} alt='Me' />
</header>

<style lang="scss">
  header{
		height: 80vh;
		position: relative;
		overflow: hidden;
		background-color: #d2d4d3;
		
		.hello__text{
			z-index: 1;
			position: relative;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			line-height: .9;
			padding-top: 16rem;
			padding-left: 16rem;
			width: fit-content;

			>span{
				color:#717171;
			}
			.hero__hello{
				font-weight: 500;
				font-size: clamp( 1rem, 2vw, 2.5rem);
			}
			h1{
				font-size: clamp( 3rem, 6vw, 8rem);
				font-weight: 700;
			}
		}
		img{
			z-index: 0;
			width: 100vh;
			height: auto;
			bottom: 0;
			right: 0;
			position: absolute;
			filter: grayscale(100%);
		}
		.hero__deco{
			z-index: 2;
			position: absolute;
			bottom: -5px;
			left: 0;
			width: 100%;
		}
		.hero__arrow{
			z-index: 3;
			position: absolute;
			top: 0;
			left: 0;
		}
	}
	@media (max-width: 1800px){
		header{
			img{
				right: -20%;
			}
		}
	}

	@media (max-width: 1400px){
		header{
			.hello__text{
				padding-left: 3.5rem;
			}
		}
	}

	@media (max-width: 1050px){
		header{
			img{
				right: -40%;
			}
		}
	}

	@media (max-width: 800px){
		header{
			.hello__text{
				justify-content: flex-start;
				align-items: center;
				width: 100%;
				padding: 4rem 0;
				gap: .5rem;
				h1{
					font-size: 10vw;
				}
				.hero__hello{
					font-size: 4vw;
				}
			}
			img{
				width: auto;
				height: calc(80vh - 4rem);
			}
		}
	}



</style>