---
import { Image } from "astro:assets";
import HeroArrow from "./HeroArrow";
import me from '../assets/meHero.webp'

---

<header class="hero">
  <div class="hero__arrow">
    <HeroArrow client:visible />
  </div>
  <div class="hello__text">
    <span class="hero__hello">
      ¡Hola! Mi nombre es
    </span>
    <h1>
      Michael Lara
    </h1>
		<div class="hero__text-animated" >
			<p>Frontend Developer</p>
			<p>UI/UX Designer</p>
			<p>BackEnd Developer</p>
		</div>
    <!-- <HeroTitles client:visible /> -->
  </div>
	<svg
		class="hero__deco"
		xmlns="http://www.w3.org/2000/svg"
		width="100%"
		fill="none"
		viewBox="0 0 1440 312"
	>
		<path fill="#000" d="M0 312V0l1440 219.968V312H0z"></path>
	</svg>
  <Image src={me} alt='Me' />
</header>

<style lang="scss">
  header{
		height: 100svh;
		position: relative;
		overflow: hidden;
		display: flex;
		justify-content: center;
		gap: 2rem;
		align-items: center;
		background-color: #d2d4d3;
		>.hello__text, img{
			transform: translatey(-7vh);
			@media screen and (max-width: 900px){
				transform: translatey(0);
				
			}
		}
		
		.hello__text{
			z-index: 1;
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			line-height: .9;
			width: fit-content;

			>.hero__text-animated{
				position: relative;
					
				@media screen and (max-width: 900px){
					width: 100%;
				}

				>p{
					width: max-content;
					opacity: 1;
					opacity: 0;
					position: absolute;
					right: 0;
					color: #717171;
					font-weight: 500;
					font-size: clamp(1.5rem, 3vw, 3.55rem);
					animation-name: textAnimation;
					animation-iteration-count: infinite;
					animation-duration: 6s;

					@media screen and (max-width: 900px){
						font-size: 5vw;
						right: 50%;
						transform: translateX(50%);
						animation-name: textAnimation--small;
					}

					&:nth-child(1){
						animation-delay: 0s;
					}

					&:nth-child(2){
						animation-delay: 2s;
					}

					&:nth-child(3){
						animation-delay: 4s;
					}
				}
			}

			>span{
				color:#717171;
			}
			.hero__hello{
				font-weight: 500;
				font-size: clamp( 1rem, 2vw, 2.5rem);
			}
			h1{
				font-size: clamp( 3rem, 6vw, 8rem);
				font-weight: 700;
			}
		}
		img{
			z-index: 0;
			width: 30vw;
			height: 30vw;
			border: 1px solid #000;
			border-radius: 50%;
			box-shadow: 20px 20px 0 0px #717171;
			filter: grayscale(100%);
		}
		.hero__deco{
			z-index: 2;
			position: absolute;
			bottom: -5px;
			left: 0;
			width: 100%;
		}
		.hero__arrow{
			z-index: 3;
			position: absolute;
			top: 0;
			left: 0;
		}
	}

	@media (max-width: 1400px){
		header{
			.hello__text{
				padding-left: 3.5rem;
			}
		}
	}

	@media (max-width: 900px){
		header{
			align-items: flex-start;
			.hello__text{
				justify-content: flex-start;
				align-items: center;
				width: 100%;
				padding: 4rem 0;
				gap: .5rem;
				h1{
					font-size: 10vw;
				}
				.hero__hello{
					font-size: 4vw;
				}
			}
			img{
				width: auto;
				height: calc(80vh - 4rem);
				right: -12%;
				position: absolute;
				bottom: 0;
				border: none;
				box-shadow: none;
				border-radius: 0%;
				@media screen and (max-width: 400px) {
					right: -40%;
				}
			}
		}
	}

	@keyframes textAnimation {
		0% {
			opacity: 0;
			transform: translateX(25px);
		}
		
		25%{
			opacity: 0;
			transform: translateX(25px);
		}

		33%{
			opacity: 1;
			transform: translateX(0);
		}

		50%{
			opacity: 1;
			transform: translateX(0);
		}

		68%{
			opacity: 0;
			transform: translateX(-150px);
		}

		100% {
			opacity: 0;
			transform: translateX(-150px);
		}
	}

	@keyframes textAnimation--small {
		0% {
			opacity: 0;
			transform: translateX(calc(25px + 50%));
		}
		
		25%{
			opacity: 0;
			transform: translateX(calc(25px + 50%));
		}

		33%{
			opacity: 1;
			transform: translateX(50%);
		}

		50%{
			opacity: 1;
			transform: translateX(50%);
		}

		68%{
			opacity: 0;
			transform: translateX(calc(-75px + 50%));
		}

		100% {
			opacity: 0;
			transform: translateX(calc(-75px + 50%));
		}
	}


</style>