---
import { Image } from 'astro:assets';
import bgImage from '../assets/laptopBg.avif'

---
<a href="https://www.linkedin.com/in/michaellaras/" target="_blank" class="linkedInAboutme" id="linkedInAboutme">
  <Image id="linkedInAboutmeBg" class="linkedInAboutme__bg" src={bgImage} alt='laptop' />

  <div>






    <svg id="linkedinIcon" class="linkedinIcon" width="217" height="217" viewBox="0 0 217 217" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path class="linkedinIcon__star" d="M203.454 32.4549C203.454 32.8521 203.296 33.2331 203.015 33.514C202.734 33.7949 202.353 33.9527 201.956 33.9527H186.978V48.9305C186.978 49.3277 186.82 49.7087 186.539 49.9896C186.258 50.2705 185.877 50.4283 185.48 50.4283C185.083 50.4283 184.702 50.2705 184.421 49.9896C184.14 49.7087 183.982 49.3277 183.982 48.9305V33.9527H169.005C168.607 33.9527 168.226 33.7949 167.946 33.514C167.665 33.2331 167.507 32.8521 167.507 32.4549C167.507 32.0576 167.665 31.6767 167.946 31.3958C168.226 31.1149 168.607 30.9571 169.005 30.9571H183.982V15.9792C183.982 15.582 184.14 15.201 184.421 14.9201C184.702 14.6392 185.083 14.4814 185.48 14.4814C185.877 14.4814 186.258 14.6392 186.539 14.9201C186.82 15.201 186.978 15.582 186.978 15.9792V30.9571H201.956C202.353 30.9571 202.734 31.1149 203.015 31.3958C203.296 31.6767 203.454 32.0576 203.454 32.4549Z" fill="white" fill-opacity="0.3" />
      <path class="linkedinIcon__star" d="M53.939 41.4549C53.939 41.8521 53.7812 42.2331 53.5003 42.514C53.2195 42.7949 52.8385 42.9527 52.4412 42.9527H37.4634V57.9305C37.4634 58.3277 37.3056 58.7087 37.0247 58.9896C36.7438 59.2705 36.3628 59.4283 35.9656 59.4283C35.5684 59.4283 35.1874 59.2705 34.9065 58.9896C34.6256 58.7087 34.4678 58.3277 34.4678 57.9305V42.9527H19.49C19.0927 42.9527 18.7118 42.7949 18.4309 42.514C18.15 42.2331 17.9922 41.8521 17.9922 41.4549C17.9922 41.0576 18.15 40.6767 18.4309 40.3958C18.7118 40.1149 19.0927 39.9571 19.49 39.9571H34.4678V24.9792C34.4678 24.582 34.6256 24.201 34.9065 23.9201C35.1874 23.6392 35.5684 23.4814 35.9656 23.4814C36.3628 23.4814 36.7438 23.6392 37.0247 23.9201C37.3056 24.201 37.4634 24.582 37.4634 24.9792V39.9571H52.4412C52.8385 39.9571 53.2195 40.1149 53.5003 40.3958C53.7812 40.6767 53.939 41.0576 53.939 41.4549Z" fill="white" fill-opacity="0.1" />
      <path class="linkedinIcon__star" d="M207.48 167.142C207.48 167.539 207.322 167.92 207.041 168.201C206.76 168.482 206.379 168.639 205.982 168.639H191.004V183.617C191.004 184.015 190.847 184.395 190.566 184.676C190.285 184.957 189.904 185.115 189.507 185.115C189.109 185.115 188.728 184.957 188.448 184.676C188.167 184.395 188.009 184.015 188.009 183.617V168.639H173.031C172.634 168.639 172.253 168.482 171.972 168.201C171.691 167.92 171.533 167.539 171.533 167.142C171.533 166.744 171.691 166.363 171.972 166.083C172.253 165.802 172.634 165.644 173.031 165.644H188.009V150.666C188.009 150.269 188.167 149.888 188.448 149.607C188.728 149.326 189.109 149.168 189.507 149.168C189.904 149.168 190.285 149.326 190.566 149.607C190.847 149.888 191.004 150.269 191.004 150.666V165.644H205.982C206.379 165.644 206.76 165.802 207.041 166.083C207.322 166.363 207.48 166.744 207.48 167.142Z" fill="white" fill-opacity="0.1" />
      <path class="linkedinIcon__star" d="M207.454 72.5865C207.454 72.9837 207.296 73.3647 207.015 73.6456C206.734 73.9264 206.353 74.0842 205.956 74.0842H190.978V89.0621C190.978 89.4593 190.82 89.8403 190.539 90.1212C190.258 90.4021 189.877 90.5599 189.48 90.5599C189.083 90.5599 188.702 90.4021 188.421 90.1212C188.14 89.8403 187.982 89.4593 187.982 89.0621V74.0842H173.005C172.607 74.0842 172.226 73.9264 171.946 73.6456C171.665 73.3647 171.507 72.9837 171.507 72.5865C171.507 72.1892 171.665 71.8083 171.946 71.5274C172.226 71.2465 172.607 71.0887 173.005 71.0887H187.982V56.1108C187.982 55.7136 188.14 55.3326 188.421 55.0517C188.702 54.7708 189.083 54.613 189.48 54.613C189.877 54.613 190.258 54.7708 190.539 55.0517C190.82 55.3326 190.978 55.7136 190.978 56.1108V71.0887H205.956C206.353 71.0887 206.734 71.2465 207.015 71.5274C207.296 71.8083 207.454 72.1892 207.454 72.5865Z" fill="white" fill-opacity="0.2" />
      <path class="linkedinIcon__star" d="M41.7056 138.64C41.7056 139.037 41.5478 139.418 41.2669 139.699C40.9861 139.98 40.6051 140.137 40.2078 140.137H25.23V155.115C25.23 155.513 25.0722 155.894 24.7913 156.174C24.5104 156.455 24.1294 156.613 23.7322 156.613C23.335 156.613 22.954 156.455 22.6731 156.174C22.3922 155.894 22.2344 155.513 22.2344 155.115V140.137H7.25657C6.85934 140.137 6.47837 139.98 6.19748 139.699C5.91659 139.418 5.75879 139.037 5.75879 138.64C5.75879 138.242 5.91659 137.861 6.19748 137.581C6.47837 137.3 6.85934 137.142 7.25657 137.142H22.2344V122.164C22.2344 121.767 22.3922 121.386 22.6731 121.105C22.954 120.824 23.335 120.666 23.7322 120.666C24.1294 120.666 24.5104 120.824 24.7913 121.105C25.0722 121.386 25.23 121.767 25.23 122.164V137.142H40.2078C40.6051 137.142 40.9861 137.3 41.2669 137.581C41.5478 137.861 41.7056 138.242 41.7056 138.64Z" fill="white" fill-opacity="0.2" />
      <path class="linkedinIcon__star" d="M45.939 177.349C45.939 177.746 45.7812 178.127 45.5003 178.408C45.2195 178.689 44.8385 178.846 44.4412 178.846H29.4634V193.824C29.4634 194.222 29.3056 194.603 29.0247 194.883C28.7438 195.164 28.3628 195.322 27.9656 195.322C27.5684 195.322 27.1874 195.164 26.9065 194.883C26.6256 194.603 26.4678 194.222 26.4678 193.824V178.846H11.49C11.0927 178.846 10.7118 178.689 10.4309 178.408C10.15 178.127 9.99219 177.746 9.99219 177.349C9.99219 176.951 10.15 176.57 10.4309 176.29C10.7118 176.009 11.0927 175.851 11.49 175.851H26.4678V160.873C26.4678 160.476 26.6256 160.095 26.9065 159.814C27.1874 159.533 27.5684 159.375 27.9656 159.375C28.3628 159.375 28.7438 159.533 29.0247 159.814C29.3056 160.095 29.4634 160.476 29.4634 160.873V175.851H44.4412C44.8385 175.851 45.2195 176.009 45.5003 176.29C45.7812 176.57 45.939 176.951 45.939 177.349Z" fill="white" fill-opacity="0.3" />
      <path id="linkedinIcon__border" class="linkedinIcon__border" d="M108.5 0.707107L187.999 80.2063C203.425 95.632 203.425 120.642 187.999 136.068L108.5 215.567L29.0008 136.068C13.5751 120.642 13.575 95.6321 29.0007 80.2064L108.5 0.707107Z" stroke="url(#paint0_linear_368_27)" />
      <g clip-path="url(#clip0_368_27)">
        <path d="M67.748 32.5417H148.991C168.235 32.5417 183.834 48.1414 183.834 67.3845V148.628C183.834 167.871 168.235 183.471 148.991 183.471H67.748C48.5049 183.471 32.9053 167.871 32.9053 148.628V67.3845C32.9053 48.1414 48.5049 32.5417 67.748 32.5417Z" fill="#0A66C2" stroke="url(#paint1_linear_368_27)" stroke-width="2" />
        <path d="M142.25 161.582H159.735C160.369 161.582 160.976 161.33 161.425 160.882C161.873 160.434 162.125 159.827 162.125 159.193L162.134 122.25C162.134 102.941 157.973 88.0992 135.408 88.0992C126.83 87.7802 118.741 92.202 114.376 99.5856C114.355 99.6215 114.322 99.6494 114.284 99.665C114.245 99.6807 114.202 99.6833 114.162 99.6724C114.122 99.6615 114.086 99.6377 114.061 99.6047C114.035 99.5716 114.021 99.5312 114.021 99.4894V92.2713C114.021 91.6376 113.769 91.0298 113.321 90.5817C112.873 90.1335 112.265 89.8818 111.631 89.8818H95.0378C94.4041 89.8818 93.7963 90.1335 93.3482 90.5817C92.9001 91.0298 92.6483 91.6376 92.6483 92.2713V159.19C92.6483 159.823 92.9001 160.431 93.3482 160.879C93.7963 161.327 94.4041 161.579 95.0378 161.579H112.522C113.156 161.579 113.763 161.327 114.212 160.879C114.66 160.431 114.911 159.823 114.911 159.19V126.111C114.911 116.758 116.686 107.7 128.281 107.7C139.712 107.7 139.86 118.402 139.86 126.717V159.193C139.86 159.826 140.112 160.434 140.56 160.882C141.008 161.33 141.616 161.582 142.25 161.582ZM54.6055 67.1623C54.6055 74.2496 60.4401 80.0812 67.528 80.0812C74.6141 80.0806 80.4451 74.2454 80.4451 67.1593C80.4439 60.0732 74.6123 54.2422 67.5256 54.2422C60.4371 54.2422 54.6055 60.075 54.6055 67.1623ZM58.7626 161.582H76.27C76.9037 161.582 77.5115 161.33 77.9596 160.882C78.4078 160.434 78.6595 159.826 78.6595 159.193V92.2713C78.6595 91.6376 78.4078 91.0298 77.9596 90.5817C77.5115 90.1335 76.9037 89.8818 76.27 89.8818H58.7626C58.1289 89.8818 57.5211 90.1335 57.073 90.5817C56.6249 91.0298 56.3731 91.6376 56.3731 92.2713V159.193C56.3731 159.826 56.6249 160.434 57.073 160.882C57.5211 161.33 58.1289 161.582 58.7626 161.582Z" fill="#E2E2E2" />
      </g>
      <defs>
        <linearGradient id="paint0_linear_368_27" x1="108.557" y1="-0.363037" x2="108.557" y2="216.637" gradientUnits="userSpaceOnUse">
          <stop stop-color="white" stop-opacity="0.5" />
          <stop offset="0.516666" stop-color="white" stop-opacity="0" />
          <stop offset="1" stop-color="white" stop-opacity="0.5" />
        </linearGradient>
        <linearGradient id="paint1_linear_368_27" x1="184.834" y1="184.471" x2="31.9053" y2="31.5417" gradientUnits="userSpaceOnUse">
          <stop stop-opacity="0.55" />
          <stop offset="1" stop-color="white" stop-opacity="0.35" />
        </linearGradient>
        <clipPath id="clip0_368_27">
          <rect width="152.929" height="152.929" fill="white" transform="translate(31.9053 31.5417)" />
        </clipPath>
      </defs>
    </svg>
    <span>Conecta conmigo en</span>
    <h2>Linkedin</h2>
  </div>
</a>
<script is:inline>
  const linkedInAboutme = document.querySelector('#linkedInAboutme');
  const linkedInIcon = document.querySelector('#linkedinIcon');
  const stars = linkedInAboutme.querySelectorAll('.linkedinIcon__star');
  const bg = linkedInAboutme.querySelector('#linkedInAboutmeBg');
  const border = linkedInAboutme.querySelector('#linkedinIcon__border');

  const randomTranslate = () => Math.round(Math.random() * 6 - 3);

  linkedInAboutme.addEventListener('mouseenter', () => {
    stars.forEach(star => {
      const transformTarget = `translate(${randomTranslate()}px, ${randomTranslate()}px)`;
      star.style.transform = transformTarget;
    })
    linkedInIcon.classList.add('linkedinIcon--hover');
    bg.classList.add('linkedInAboutme__bg--hover');
    border.classList.add('linkedinIcon__border--hover');
  })
  linkedInAboutme.addEventListener('mouseleave', () => {
    stars.forEach(star => {
      star.style.transform = 'translate(0px, 0px)';
    })
    linkedInIcon.classList.remove('linkedinIcon--hover');
    bg.classList.remove('linkedInAboutme__bg--hover');
    border.classList.remove('linkedinIcon__border--hover');
  })
</script>

<style lang="scss">


  .linkedinIcon__border{
    opacity: 0;
    transform-origin: center;
    transform: rotate(-25deg);
  }

  .linkedinIcon__star, #linkedinIcon, .linkedInAboutme__bg, #linkedinIcon__border{
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  }

  .linkedinIcon--hover{
    transform: scale(1.1);
  }

  .linkedInAboutme__bg--hover{
    transform: scale(1.03);
  }

  .linkedinIcon__border--hover{
    opacity: 1;
    transform: rotate(0deg);
  }

  .linkedInAboutme{
    height: 100%;
    width: 100%;
    text-decoration: none;
    position:relative;
    display: block;
    >.linkedInAboutme__bg{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      z-index: 0;
      opacity: .1;
      transition: all 0.5s ease-in-out;
    }
    >div{
      position: relative;
      z-index: 1;
      height: 100%;
      color:white;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;

      @media screen and (max-width: 1100px) {
        // aspect-ratio: 1/1 ;
        padding: 1rem;
        // height: auto;
      }
      @media screen and (max-width: 500px){
        span{
          display: none;
        }
        h2{
          color: white;
          margin-top: 1rem;
        }
      }
    }
    span{
      margin-top: 1rem;
      text-align: center;
    }
    h2{
      color:#FCA311;
      font-size: min(2.25rem, 6vw);
    }
    svg{
      height: auto;
      // background-color: red;
      width: min(17.5rem, 90%);
    }
  }
</style>