---
import { Image } from 'astro:assets';
import bgImage from '../assets/laptopBg.avif'

---
<a href="https://www.linkedin.com/in/michaellaras/" target="_blank" class="linkedInAboutme" id="linkedInAboutme">
  <Image id="linkedInAboutmeBg" class="linkedInAboutme__bg" src={bgImage} alt='laptop' />

  <div>


    <svg id="linkedinIcon" class="linkedinIcon" width="281" height="122" viewBox="0 0 281 122" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path class="linkedinIcon__star" d="M250.193 19.0818C250.193 19.4974 250.028 19.896 249.734 20.1899C249.44 20.4838 249.041 20.6489 248.626 20.6489H232.955V36.3192C232.955 36.7348 232.79 37.1334 232.497 37.4273C232.203 37.7212 231.804 37.8863 231.388 37.8863C230.973 37.8863 230.574 37.7212 230.28 37.4273C229.987 37.1334 229.821 36.7348 229.821 36.3192V20.6489H214.151C213.735 20.6489 213.337 20.4838 213.043 20.1899C212.749 19.896 212.584 19.4974 212.584 19.0818C212.584 18.6662 212.749 18.2676 213.043 17.9737C213.337 17.6799 213.735 17.5148 214.151 17.5148H229.821V1.84438C229.821 1.42878 229.987 1.0302 230.28 0.736319C230.574 0.442442 230.973 0.277344 231.388 0.277344C231.804 0.277344 232.203 0.442442 232.497 0.736319C232.79 1.0302 232.955 1.42878 232.955 1.84438V17.5148H248.626C249.041 17.5148 249.44 17.6799 249.734 17.9737C250.028 18.2676 250.193 18.6662 250.193 19.0818Z" fill="white" />
      <path class="linkedinIcon__star" d="M280.75 80.1963C280.75 80.6119 280.584 81.0105 280.291 81.3044C279.997 81.5983 279.598 81.7634 279.183 81.7634H263.512V97.4337C263.512 97.8493 263.347 98.2479 263.053 98.5418C262.759 98.8357 262.361 99.0008 261.945 99.0008C261.529 99.0008 261.131 98.8357 260.837 98.5418C260.543 98.2479 260.378 97.8493 260.378 97.4337V81.7634H244.708C244.292 81.7634 243.893 81.5983 243.6 81.3044C243.306 81.0105 243.141 80.6119 243.141 80.1963C243.141 79.7807 243.306 79.3821 243.6 79.0883C243.893 78.7944 244.292 78.6293 244.708 78.6293H260.378V62.9589C260.378 62.5433 260.543 62.1447 260.837 61.8508C261.131 61.5569 261.529 61.3918 261.945 61.3918C262.361 61.3918 262.759 61.5569 263.053 61.8508C263.347 62.1447 263.512 62.5433 263.512 62.9589V78.6293H279.183C279.598 78.6293 279.997 78.7944 280.291 79.0883C280.584 79.3821 280.75 79.7807 280.75 80.1963Z" fill="white" fill-opacity="0.7" />
      <path class="linkedinIcon__star" d="M37.8589 51.9895C37.8589 52.4051 37.6938 52.8037 37.4 53.0976C37.1061 53.3915 36.7075 53.5566 36.2919 53.5566H20.6215V69.227C20.6215 69.6426 20.4564 70.0411 20.1625 70.335C19.8687 70.6289 19.4701 70.794 19.0545 70.794C18.6389 70.794 18.2403 70.6289 17.9464 70.335C17.6525 70.0411 17.4874 69.6426 17.4874 69.227V53.5566H1.81704C1.40143 53.5566 1.00285 53.3915 0.708975 53.0976C0.415099 52.8037 0.25 52.4051 0.25 51.9895C0.25 51.5739 0.415099 51.1753 0.708975 50.8815C1.00285 50.5876 1.40143 50.4225 1.81704 50.4225H17.4874V34.7521C17.4874 34.3365 17.6525 33.9379 17.9464 33.644C18.2403 33.3502 18.6389 33.1851 19.0545 33.1851C19.4701 33.1851 19.8687 33.3502 20.1625 33.644C20.4564 33.9379 20.6215 34.3365 20.6215 34.7521V50.4225H36.2919C36.7075 50.4225 37.1061 50.5876 37.4 50.8815C37.6938 51.1753 37.8589 51.5739 37.8589 51.9895Z" fill="white" fill-opacity="0.7" />
      <path class="linkedinIcon__star" d="M83.3033 19.0818C83.3033 19.4974 83.1382 19.896 82.8443 20.1899C82.5504 20.4838 82.1518 20.6489 81.7362 20.6489H66.0658V36.3192C66.0658 36.7348 65.9007 37.1334 65.6069 37.4273C65.313 37.7212 64.9144 37.8863 64.4988 37.8863C64.0832 37.8863 63.6846 37.7212 63.3907 37.4273C63.0969 37.1334 62.9318 36.7348 62.9318 36.3192V20.6489H47.2614C46.8458 20.6489 46.4472 20.4838 46.1533 20.1899C45.8594 19.896 45.6943 19.4974 45.6943 19.0818C45.6943 18.6662 45.8594 18.2676 46.1533 17.9737C46.4472 17.6799 46.8458 17.5148 47.2614 17.5148H62.9318V1.84438C62.9318 1.42878 63.0969 1.0302 63.3907 0.736319C63.6846 0.442442 64.0832 0.277344 64.4988 0.277344C64.9144 0.277344 65.313 0.442442 65.6069 0.736319C65.9007 1.0302 66.0658 1.42878 66.0658 1.84438V17.5148H81.7362C82.1518 17.5148 82.5504 17.6799 82.8443 17.9737C83.1382 18.2676 83.3033 18.6662 83.3033 19.0818Z" fill="white" fill-opacity="0.4" />
      <path class="linkedinIcon__star" d="M231.388 63.7425C231.388 64.1581 231.223 64.5566 230.929 64.8505C230.635 65.1444 230.237 65.3095 229.821 65.3095H214.151V80.9799C214.151 81.3955 213.986 81.7941 213.692 82.088C213.398 82.3818 212.999 82.5469 212.584 82.5469C212.168 82.5469 211.77 82.3818 211.476 82.088C211.182 81.7941 211.017 81.3955 211.017 80.9799V65.3095H195.346C194.931 65.3095 194.532 65.1444 194.238 64.8505C193.944 64.5566 193.779 64.1581 193.779 63.7425C193.779 63.3269 193.944 62.9283 194.238 62.6344C194.532 62.3405 194.931 62.1754 195.346 62.1754H211.017V46.505C211.017 46.0894 211.182 45.6908 211.476 45.397C211.77 45.1031 212.168 44.938 212.584 44.938C212.999 44.938 213.398 45.1031 213.692 45.397C213.986 45.6908 214.151 46.0894 214.151 46.505V62.1754H229.821C230.237 62.1754 230.635 62.3405 230.929 62.6344C231.223 62.9283 231.388 63.3269 231.388 63.7425Z" fill="white" fill-opacity="0.4" />
      <path class="linkedinIcon__star" d="M250.193 102.918C250.193 103.334 250.028 103.733 249.734 104.027C249.44 104.32 249.041 104.486 248.626 104.486H232.955V120.156C232.955 120.572 232.79 120.97 232.497 121.264C232.203 121.558 231.804 121.723 231.388 121.723C230.973 121.723 230.574 121.558 230.28 121.264C229.987 120.97 229.821 120.572 229.821 120.156V104.486H214.151C213.735 104.486 213.337 104.32 213.043 104.027C212.749 103.733 212.584 103.334 212.584 102.918C212.584 102.503 212.749 102.104 213.043 101.81C213.337 101.517 213.735 101.351 214.151 101.351H229.821V85.6811C229.821 85.2654 229.987 84.8669 230.28 84.573C230.574 84.2791 230.973 84.114 231.388 84.114C231.804 84.114 232.203 84.2791 232.497 84.573C232.79 84.8669 232.955 85.2654 232.955 85.6811V101.351H248.626C249.041 101.351 249.44 101.517 249.734 101.81C250.028 102.104 250.193 102.503 250.193 102.918Z" fill="white" fill-opacity="0.2" />
      <path class="linkedinIcon__star" d="M71.5503 65.3094C71.5503 65.725 71.3853 66.1235 71.0914 66.4174C70.7975 66.7113 70.3989 66.8764 69.9833 66.8764H54.3129V82.5468C54.3129 82.9624 54.1478 83.361 53.8539 83.6548C53.5601 83.9487 53.1615 84.1138 52.7459 84.1138C52.3303 84.1138 51.9317 83.9487 51.6378 83.6548C51.3439 83.361 51.1788 82.9624 51.1788 82.5468V66.8764H35.5084C35.0928 66.8764 34.6943 66.7113 34.4004 66.4174C34.1065 66.1235 33.9414 65.725 33.9414 65.3094C33.9414 64.8937 34.1065 64.4952 34.4004 64.2013C34.6943 63.9074 35.0928 63.7423 35.5084 63.7423H51.1788V48.0719C51.1788 47.6563 51.3439 47.2577 51.6378 46.9639C51.9317 46.67 52.3303 46.5049 52.7459 46.5049C53.1615 46.5049 53.5601 46.67 53.8539 46.9639C54.1478 47.2577 54.3129 47.6563 54.3129 48.0719V63.7423H69.9833C70.3989 63.7423 70.7975 63.9074 71.0914 64.2013C71.3853 64.4952 71.5503 64.8937 71.5503 65.3094Z" fill="white" fill-opacity="0.2" />
      <path class="linkedinIcon__star" d="M83.3033 94.2996C83.3033 94.7152 83.1382 95.1138 82.8443 95.4077C82.5504 95.7015 82.1518 95.8666 81.7362 95.8666H66.0658V111.537C66.0658 111.953 65.9007 112.351 65.6069 112.645C65.313 112.939 64.9144 113.104 64.4988 113.104C64.0832 113.104 63.6846 112.939 63.3907 112.645C63.0969 112.351 62.9318 111.953 62.9318 111.537V95.8666H47.2614C46.8458 95.8666 46.4472 95.7015 46.1533 95.4077C45.8594 95.1138 45.6943 94.7152 45.6943 94.2996C45.6943 93.884 45.8594 93.4854 46.1533 93.1915C46.4472 92.8976 46.8458 92.7325 47.2614 92.7325H62.9318V77.0622C62.9318 76.6466 63.0969 76.248 63.3907 75.9541C63.6846 75.6602 64.0832 75.4951 64.4988 75.4951C64.9144 75.4951 65.313 75.6602 65.6069 75.9541C65.9007 76.248 66.0658 76.6466 66.0658 77.0622V92.7325H81.7362C82.1518 92.7325 82.5504 92.8976 82.8443 93.1915C83.1382 93.4854 83.3033 93.884 83.3033 94.2996Z" fill="white" />
      <g clip-path="url(#clip0_353_34)">
        <path d="M104.715 1.27734H169.233C184.401 1.27734 196.697 13.5733 196.697 28.7411V93.2591C196.697 108.427 184.401 120.723 169.233 120.723H104.715C89.5469 120.723 77.251 108.427 77.251 93.2591V28.7411C77.251 13.5733 89.5469 1.27734 104.715 1.27734Z" fill="#0A66C2" stroke="url(#paint0_linear_353_34)" stroke-width="2" />
        <path d="M163.879 103.546H177.765C178.268 103.546 178.751 103.347 179.107 102.991C179.462 102.635 179.662 102.152 179.663 101.649L179.67 72.3116C179.67 56.9777 176.366 45.1913 158.446 45.1913C151.634 44.938 145.21 48.4495 141.744 54.313C141.727 54.3415 141.701 54.3637 141.671 54.3761C141.64 54.3886 141.606 54.3906 141.574 54.382C141.542 54.3733 141.514 54.3544 141.493 54.3282C141.473 54.3019 141.462 54.2698 141.462 54.2367V48.5045C141.462 48.0013 141.262 47.5186 140.906 47.1627C140.55 46.8069 140.067 46.6069 139.564 46.6069H126.387C125.884 46.6069 125.401 46.8069 125.045 47.1627C124.689 47.5186 124.489 48.0013 124.489 48.5045V101.646C124.489 102.15 124.689 102.632 125.045 102.988C125.401 103.344 125.884 103.544 126.387 103.544H140.272C140.775 103.544 141.257 103.344 141.613 102.988C141.969 102.632 142.169 102.15 142.169 101.646V75.3777C142.169 67.9501 143.578 60.7568 152.787 60.7568C161.864 60.7568 161.982 69.2561 161.982 75.8587V101.649C161.982 102.152 162.182 102.635 162.538 102.991C162.893 103.346 163.376 103.546 163.879 103.546ZM94.2783 28.5647C94.2783 34.1929 98.9118 38.824 104.54 38.824C110.168 38.8235 114.798 34.1896 114.798 28.5623C114.797 22.935 110.166 18.3044 104.539 18.3044C98.9094 18.3044 94.2783 22.9365 94.2783 28.5647ZM97.5796 103.546H111.483C111.986 103.546 112.469 103.346 112.825 102.991C113.18 102.635 113.38 102.152 113.38 101.649V48.5045C113.38 48.0013 113.18 47.5186 112.825 47.1627C112.469 46.8069 111.986 46.6069 111.483 46.6069H97.5796C97.0764 46.6069 96.5937 46.8069 96.2379 47.1627C95.882 47.5186 95.6821 48.0013 95.6821 48.5045V101.649C95.6821 102.152 95.882 102.635 96.2379 102.991C96.5937 103.346 97.0764 103.546 97.5796 103.546Z" fill="#E2E2E2" />
      </g>
      <defs>
        <linearGradient id="paint0_linear_353_34" x1="197.697" y1="121.723" x2="76.251" y2="0.277344" gradientUnits="userSpaceOnUse">
          <stop stop-opacity="0.55" />
          <stop offset="1" stop-color="white" stop-opacity="0.35" />
        </linearGradient>
        <clipPath id="clip0_353_34">
          <rect width="121.446" height="121.446" fill="white" transform="translate(76.251 0.277344)" />
        </clipPath>
      </defs>
    </svg>
    

    <span>Conecta conmigo en</span>
    <h2>Linkedin</h2>
  </div>
</a>
<script is:inline>
  const linkedInAboutme = document.querySelector('#linkedInAboutme');
  const linkedInIcon = document.querySelector('#linkedinIcon');
  const stars = linkedInAboutme.querySelectorAll('.linkedinIcon__star');
  const bg = linkedInAboutme.querySelector('#linkedInAboutmeBg');

  const randomTranslate = () => Math.round(Math.random() * 6 - 3);

  linkedInAboutme.addEventListener('mouseenter', () => {
    stars.forEach(star => {
      const transformTarget = `translate(${randomTranslate()}px, ${randomTranslate()}px)`;
      star.style.transform = transformTarget;
    })
    linkedInIcon.classList.add('linkedinIcon--hover');
    bg.classList.add('linkedInAboutme__bg--hover');

  })
  linkedInAboutme.addEventListener('mouseleave', () => {
    stars.forEach(star => {
      star.style.transform = 'translate(0px, 0px)';
    })
    linkedInIcon.classList.remove('linkedinIcon--hover');
    bg.classList.remove('linkedInAboutme__bg--hover');
  })
</script>

<style lang="scss">

  .linkedinIcon__star, #linkedinIcon, .linkedInAboutme__bg{
    transition: transform 0.5s ease-in-out;
  }

  .linkedinIcon--hover{
    transform: scale(1.1);
  }

  .linkedInAboutme__bg--hover{
    transform: scale(1.03);
  }

  .linkedInAboutme{
    height: 100%;
    width: 100%;
    text-decoration: none;
    position:relative;
    display: block;
    >.linkedInAboutme__bg{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      z-index: 0;
      opacity: .1;
      transition: all 0.5s ease-in-out;
    }
    >div{
      position: relative;
      z-index: 1;
      height: 100%;
      color:white;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      @media screen and (max-width: 1100px) {
        // aspect-ratio: 1/1 ;
        padding: 1rem;
        height: 100%;
      }
      @media screen and (max-width: 500px){
        span{
          display: none;
        }
        h2{
          color: white;
          margin-top: 1rem;
        }
      }
    }
    span{
      margin-top: 1rem;
      text-align: center;
    }
    h2{
      color:#FCA311;
      font-size: min(2.25rem, 6vw);
    }
    svg{
      // background-color: red;
      width: min(17.5rem, 90%);
    }
  }
</style>