---
import { Image } from 'astro:assets';
import bgImage from '../assets/laptopBg.avif'

---
<a href="https://www.linkedin.com/in/michaellaras/" target="_blank" class="linkedInAboutme" id="linkedInAboutme">
  <Image id="linkedInAboutmeBg" class="linkedInAboutme__bg" src={bgImage} alt='laptop' />

  <div>






    <svg id="linkedinIcon" class="linkedinIcon" width="217" height="217" viewBox="0 0 217 217" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path class="linkedinIcon__star" d="M203.454 32.4549C203.454 32.8521 203.296 33.2331 203.015 33.514C202.734 33.7949 202.353 33.9527 201.956 33.9527H186.978V48.9305C186.978 49.3277 186.82 49.7087 186.539 49.9896C186.258 50.2705 185.877 50.4283 185.48 50.4283C185.083 50.4283 184.702 50.2705 184.421 49.9896C184.14 49.7087 183.982 49.3277 183.982 48.9305V33.9527H169.005C168.607 33.9527 168.226 33.7949 167.946 33.514C167.665 33.2331 167.507 32.8521 167.507 32.4549C167.507 32.0576 167.665 31.6767 167.946 31.3958C168.226 31.1149 168.607 30.9571 169.005 30.9571H183.982V15.9792C183.982 15.582 184.14 15.201 184.421 14.9201C184.702 14.6392 185.083 14.4814 185.48 14.4814C185.877 14.4814 186.258 14.6392 186.539 14.9201C186.82 15.201 186.978 15.582 186.978 15.9792V30.9571H201.956C202.353 30.9571 202.734 31.1149 203.015 31.3958C203.296 31.6767 203.454 32.0576 203.454 32.4549Z" fill="white" fill-opacity="0.3" />
      <path class="linkedinIcon__star" d="M53.939 41.4549C53.939 41.8521 53.7812 42.2331 53.5003 42.514C53.2195 42.7949 52.8385 42.9527 52.4412 42.9527H37.4634V57.9305C37.4634 58.3277 37.3056 58.7087 37.0247 58.9896C36.7438 59.2705 36.3628 59.4283 35.9656 59.4283C35.5684 59.4283 35.1874 59.2705 34.9065 58.9896C34.6256 58.7087 34.4678 58.3277 34.4678 57.9305V42.9527H19.49C19.0927 42.9527 18.7118 42.7949 18.4309 42.514C18.15 42.2331 17.9922 41.8521 17.9922 41.4549C17.9922 41.0576 18.15 40.6767 18.4309 40.3958C18.7118 40.1149 19.0927 39.9571 19.49 39.9571H34.4678V24.9792C34.4678 24.582 34.6256 24.201 34.9065 23.9201C35.1874 23.6392 35.5684 23.4814 35.9656 23.4814C36.3628 23.4814 36.7438 23.6392 37.0247 23.9201C37.3056 24.201 37.4634 24.582 37.4634 24.9792V39.9571H52.4412C52.8385 39.9571 53.2195 40.1149 53.5003 40.3958C53.7812 40.6767 53.939 41.0576 53.939 41.4549Z" fill="white" fill-opacity="0.1" />
      <path class="linkedinIcon__star" d="M207.48 167.142C207.48 167.539 207.322 167.92 207.041 168.201C206.76 168.482 206.379 168.639 205.982 168.639H191.004V183.617C191.004 184.015 190.847 184.395 190.566 184.676C190.285 184.957 189.904 185.115 189.507 185.115C189.109 185.115 188.728 184.957 188.448 184.676C188.167 184.395 188.009 184.015 188.009 183.617V168.639H173.031C172.634 168.639 172.253 168.482 171.972 168.201C171.691 167.92 171.533 167.539 171.533 167.142C171.533 166.744 171.691 166.363 171.972 166.083C172.253 165.802 172.634 165.644 173.031 165.644H188.009V150.666C188.009 150.269 188.167 149.888 188.448 149.607C188.728 149.326 189.109 149.168 189.507 149.168C189.904 149.168 190.285 149.326 190.566 149.607C190.847 149.888 191.004 150.269 191.004 150.666V165.644H205.982C206.379 165.644 206.76 165.802 207.041 166.083C207.322 166.363 207.48 166.744 207.48 167.142Z" fill="white" fill-opacity="0.1" />
      <path class="linkedinIcon__star" d="M207.454 72.5865C207.454 72.9837 207.296 73.3647 207.015 73.6456C206.734 73.9264 206.353 74.0842 205.956 74.0842H190.978V89.0621C190.978 89.4593 190.82 89.8403 190.539 90.1212C190.258 90.4021 189.877 90.5599 189.48 90.5599C189.083 90.5599 188.702 90.4021 188.421 90.1212C188.14 89.8403 187.982 89.4593 187.982 89.0621V74.0842H173.005C172.607 74.0842 172.226 73.9264 171.946 73.6456C171.665 73.3647 171.507 72.9837 171.507 72.5865C171.507 72.1892 171.665 71.8083 171.946 71.5274C172.226 71.2465 172.607 71.0887 173.005 71.0887H187.982V56.1108C187.982 55.7136 188.14 55.3326 188.421 55.0517C188.702 54.7708 189.083 54.613 189.48 54.613C189.877 54.613 190.258 54.7708 190.539 55.0517C190.82 55.3326 190.978 55.7136 190.978 56.1108V71.0887H205.956C206.353 71.0887 206.734 71.2465 207.015 71.5274C207.296 71.8083 207.454 72.1892 207.454 72.5865Z" fill="white" fill-opacity="0.2" />
      <path class="linkedinIcon__star" d="M41.7056 138.64C41.7056 139.037 41.5478 139.418 41.2669 139.699C40.9861 139.98 40.6051 140.137 40.2078 140.137H25.23V155.115C25.23 155.513 25.0722 155.894 24.7913 156.174C24.5104 156.455 24.1294 156.613 23.7322 156.613C23.335 156.613 22.954 156.455 22.6731 156.174C22.3922 155.894 22.2344 155.513 22.2344 155.115V140.137H7.25657C6.85934 140.137 6.47837 139.98 6.19748 139.699C5.91659 139.418 5.75879 139.037 5.75879 138.64C5.75879 138.242 5.91659 137.861 6.19748 137.581C6.47837 137.3 6.85934 137.142 7.25657 137.142H22.2344V122.164C22.2344 121.767 22.3922 121.386 22.6731 121.105C22.954 120.824 23.335 120.666 23.7322 120.666C24.1294 120.666 24.5104 120.824 24.7913 121.105C25.0722 121.386 25.23 121.767 25.23 122.164V137.142H40.2078C40.6051 137.142 40.9861 137.3 41.2669 137.581C41.5478 137.861 41.7056 138.242 41.7056 138.64Z" fill="white" fill-opacity="0.2" />
      <path class="linkedinIcon__star" d="M45.939 177.349C45.939 177.746 45.7812 178.127 45.5003 178.408C45.2195 178.689 44.8385 178.846 44.4412 178.846H29.4634V193.824C29.4634 194.222 29.3056 194.603 29.0247 194.883C28.7438 195.164 28.3628 195.322 27.9656 195.322C27.5684 195.322 27.1874 195.164 26.9065 194.883C26.6256 194.603 26.4678 194.222 26.4678 193.824V178.846H11.49C11.0927 178.846 10.7118 178.689 10.4309 178.408C10.15 178.127 9.99219 177.746 9.99219 177.349C9.99219 176.951 10.15 176.57 10.4309 176.29C10.7118 176.009 11.0927 175.851 11.49 175.851H26.4678V160.873C26.4678 160.476 26.6256 160.095 26.9065 159.814C27.1874 159.533 27.5684 159.375 27.9656 159.375C28.3628 159.375 28.7438 159.533 29.0247 159.814C29.3056 160.095 29.4634 160.476 29.4634 160.873V175.851H44.4412C44.8385 175.851 45.2195 176.009 45.5003 176.29C45.7812 176.57 45.939 176.951 45.939 177.349Z" fill="white" fill-opacity="0.3" />
      <path id="linkedinIcon__border" class="linkedinIcon__border" d="M108.5 0.707107L187.999 80.2063C203.425 95.632 203.425 120.642 187.999 136.068L108.5 215.567L29.0008 136.068C13.5751 120.642 13.575 95.6321 29.0007 80.2064L108.5 0.707107Z" stroke="url(#paint0_linear_368_27)" />
      <g clip-path="url(#clip0_368_27)">
        <path d="M67.748 32.5417H148.991C168.235 32.5417 183.834 48.1414 183.834 67.3845V148.628C183.834 167.871 168.235 183.471 148.991 183.471H67.748C48.5049 183.471 32.9053 167.871 32.9053 148.628V67.3845C32.9053 48.1414 48.5049 32.5417 67.748 32.5417Z" fill="#0A66C2" stroke="url(#paint1_linear_368_27)" stroke-width="2" />
        <path d="M142.25 161.582H159.735C160.369 161.582 160.976 161.33 161.425 160.882C161.873 160.434 162.125 159.827 162.125 159.193L162.134 122.25C162.134 102.941 157.973 88.0992 135.408 88.0992C126.83 87.7802 118.741 92.202 114.376 99.5856C114.355 99.6215 114.322 99.6494 114.284 99.665C114.245 99.6807 114.202 99.6833 114.162 99.6724C114.122 99.6615 114.086 99.6377 114.061 99.6047C114.035 99.5716 114.021 99.5312 114.021 99.4894V92.2713C114.021 91.6376 113.769 91.0298 113.321 90.5817C112.873 90.1335 112.265 89.8818 111.631 89.8818H95.0378C94.4041 89.8818 93.7963 90.1335 93.3482 90.5817C92.9001 91.0298 92.6483 91.6376 92.6483 92.2713V159.19C92.6483 159.823 92.9001 160.431 93.3482 160.879C93.7963 161.327 94.4041 161.579 95.0378 161.579H112.522C113.156 161.579 113.763 161.327 114.212 160.879C114.66 160.431 114.911 159.823 114.911 159.19V126.111C114.911 116.758 116.686 107.7 128.281 107.7C139.712 107.7 139.86 118.402 139.86 126.717V159.193C139.86 159.826 140.112 160.434 140.56 160.882C141.008 161.33 141.616 161.582 142.25 161.582ZM54.6055 67.1623C54.6055 74.2496 60.4401 80.0812 67.528 80.0812C74.6141 80.0806 80.4451 74.2454 80.4451 67.1593C80.4439 60.0732 74.6123 54.2422 67.5256 54.2422C60.4371 54.2422 54.6055 60.075 54.6055 67.1623ZM58.7626 161.582H76.27C76.9037 161.582 77.5115 161.33 77.9596 160.882C78.4078 160.434 78.6595 159.826 78.6595 159.193V92.2713C78.6595 91.6376 78.4078 91.0298 77.9596 90.5817C77.5115 90.1335 76.9037 89.8818 76.27 89.8818H58.7626C58.1289 89.8818 57.5211 90.1335 57.073 90.5817C56.6249 91.0298 56.3731 91.6376 56.3731 92.2713V159.193C56.3731 159.826 56.6249 160.434 57.073 160.882C57.5211 161.33 58.1289 161.582 58.7626 161.582Z" fill="#E2E2E2" />
      </g>
      <defs>
        <linearGradient id="paint0_linear_368_27" x1="108.557" y1="-0.363037" x2="108.557" y2="216.637" gradientUnits="userSpaceOnUse">
          <stop stop-color="white" stop-opacity="0.5" />
          <stop offset="0.516666" stop-color="white" stop-opacity="0" />
          <stop offset="1" stop-color="white" stop-opacity="0.5" />
        </linearGradient>
        <linearGradient id="paint1_linear_368_27" x1="184.834" y1="184.471" x2="31.9053" y2="31.5417" gradientUnits="userSpaceOnUse">
          <stop stop-opacity="0.55" />
          <stop offset="1" stop-color="white" stop-opacity="0.35" />
        </linearGradient>
        <clipPath id="clip0_368_27">
          <rect width="152.929" height="152.929" fill="white" transform="translate(31.9053 31.5417)" />
        </clipPath>
      </defs>
    </svg>





<!--     
    <svg id="linkedinIcon" class="linkedinIcon" width="281" height="122" viewBox="0 0 281 122" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path class="linkedinIcon__star" d="M250.193 19.0818C250.193 19.4974 250.028 19.896 249.734 20.1899C249.44 20.4838 249.041 20.6489 248.626 20.6489H232.955V36.3192C232.955 36.7348 232.79 37.1334 232.497 37.4273C232.203 37.7212 231.804 37.8863 231.388 37.8863C230.973 37.8863 230.574 37.7212 230.28 37.4273C229.987 37.1334 229.821 36.7348 229.821 36.3192V20.6489H214.151C213.735 20.6489 213.337 20.4838 213.043 20.1899C212.749 19.896 212.584 19.4974 212.584 19.0818C212.584 18.6662 212.749 18.2676 213.043 17.9737C213.337 17.6799 213.735 17.5148 214.151 17.5148H229.821V1.84438C229.821 1.42878 229.987 1.0302 230.28 0.736319C230.574 0.442442 230.973 0.277344 231.388 0.277344C231.804 0.277344 232.203 0.442442 232.497 0.736319C232.79 1.0302 232.955 1.42878 232.955 1.84438V17.5148H248.626C249.041 17.5148 249.44 17.6799 249.734 17.9737C250.028 18.2676 250.193 18.6662 250.193 19.0818Z" fill="white" />
      <path class="linkedinIcon__star" d="M280.75 80.1963C280.75 80.6119 280.584 81.0105 280.291 81.3044C279.997 81.5983 279.598 81.7634 279.183 81.7634H263.512V97.4337C263.512 97.8493 263.347 98.2479 263.053 98.5418C262.759 98.8357 262.361 99.0008 261.945 99.0008C261.529 99.0008 261.131 98.8357 260.837 98.5418C260.543 98.2479 260.378 97.8493 260.378 97.4337V81.7634H244.708C244.292 81.7634 243.893 81.5983 243.6 81.3044C243.306 81.0105 243.141 80.6119 243.141 80.1963C243.141 79.7807 243.306 79.3821 243.6 79.0883C243.893 78.7944 244.292 78.6293 244.708 78.6293H260.378V62.9589C260.378 62.5433 260.543 62.1447 260.837 61.8508C261.131 61.5569 261.529 61.3918 261.945 61.3918C262.361 61.3918 262.759 61.5569 263.053 61.8508C263.347 62.1447 263.512 62.5433 263.512 62.9589V78.6293H279.183C279.598 78.6293 279.997 78.7944 280.291 79.0883C280.584 79.3821 280.75 79.7807 280.75 80.1963Z" fill="white" fill-opacity="0.7" />
      <path class="linkedinIcon__star" d="M37.8589 51.9895C37.8589 52.4051 37.6938 52.8037 37.4 53.0976C37.1061 53.3915 36.7075 53.5566 36.2919 53.5566H20.6215V69.227C20.6215 69.6426 20.4564 70.0411 20.1625 70.335C19.8687 70.6289 19.4701 70.794 19.0545 70.794C18.6389 70.794 18.2403 70.6289 17.9464 70.335C17.6525 70.0411 17.4874 69.6426 17.4874 69.227V53.5566H1.81704C1.40143 53.5566 1.00285 53.3915 0.708975 53.0976C0.415099 52.8037 0.25 52.4051 0.25 51.9895C0.25 51.5739 0.415099 51.1753 0.708975 50.8815C1.00285 50.5876 1.40143 50.4225 1.81704 50.4225H17.4874V34.7521C17.4874 34.3365 17.6525 33.9379 17.9464 33.644C18.2403 33.3502 18.6389 33.1851 19.0545 33.1851C19.4701 33.1851 19.8687 33.3502 20.1625 33.644C20.4564 33.9379 20.6215 34.3365 20.6215 34.7521V50.4225H36.2919C36.7075 50.4225 37.1061 50.5876 37.4 50.8815C37.6938 51.1753 37.8589 51.5739 37.8589 51.9895Z" fill="white" fill-opacity="0.7" />
      <path class="linkedinIcon__star" d="M83.3033 19.0818C83.3033 19.4974 83.1382 19.896 82.8443 20.1899C82.5504 20.4838 82.1518 20.6489 81.7362 20.6489H66.0658V36.3192C66.0658 36.7348 65.9007 37.1334 65.6069 37.4273C65.313 37.7212 64.9144 37.8863 64.4988 37.8863C64.0832 37.8863 63.6846 37.7212 63.3907 37.4273C63.0969 37.1334 62.9318 36.7348 62.9318 36.3192V20.6489H47.2614C46.8458 20.6489 46.4472 20.4838 46.1533 20.1899C45.8594 19.896 45.6943 19.4974 45.6943 19.0818C45.6943 18.6662 45.8594 18.2676 46.1533 17.9737C46.4472 17.6799 46.8458 17.5148 47.2614 17.5148H62.9318V1.84438C62.9318 1.42878 63.0969 1.0302 63.3907 0.736319C63.6846 0.442442 64.0832 0.277344 64.4988 0.277344C64.9144 0.277344 65.313 0.442442 65.6069 0.736319C65.9007 1.0302 66.0658 1.42878 66.0658 1.84438V17.5148H81.7362C82.1518 17.5148 82.5504 17.6799 82.8443 17.9737C83.1382 18.2676 83.3033 18.6662 83.3033 19.0818Z" fill="white" fill-opacity="0.4" />
      <path class="linkedinIcon__star" d="M231.388 63.7425C231.388 64.1581 231.223 64.5566 230.929 64.8505C230.635 65.1444 230.237 65.3095 229.821 65.3095H214.151V80.9799C214.151 81.3955 213.986 81.7941 213.692 82.088C213.398 82.3818 212.999 82.5469 212.584 82.5469C212.168 82.5469 211.77 82.3818 211.476 82.088C211.182 81.7941 211.017 81.3955 211.017 80.9799V65.3095H195.346C194.931 65.3095 194.532 65.1444 194.238 64.8505C193.944 64.5566 193.779 64.1581 193.779 63.7425C193.779 63.3269 193.944 62.9283 194.238 62.6344C194.532 62.3405 194.931 62.1754 195.346 62.1754H211.017V46.505C211.017 46.0894 211.182 45.6908 211.476 45.397C211.77 45.1031 212.168 44.938 212.584 44.938C212.999 44.938 213.398 45.1031 213.692 45.397C213.986 45.6908 214.151 46.0894 214.151 46.505V62.1754H229.821C230.237 62.1754 230.635 62.3405 230.929 62.6344C231.223 62.9283 231.388 63.3269 231.388 63.7425Z" fill="white" fill-opacity="0.4" />
      <path class="linkedinIcon__star" d="M250.193 102.918C250.193 103.334 250.028 103.733 249.734 104.027C249.44 104.32 249.041 104.486 248.626 104.486H232.955V120.156C232.955 120.572 232.79 120.97 232.497 121.264C232.203 121.558 231.804 121.723 231.388 121.723C230.973 121.723 230.574 121.558 230.28 121.264C229.987 120.97 229.821 120.572 229.821 120.156V104.486H214.151C213.735 104.486 213.337 104.32 213.043 104.027C212.749 103.733 212.584 103.334 212.584 102.918C212.584 102.503 212.749 102.104 213.043 101.81C213.337 101.517 213.735 101.351 214.151 101.351H229.821V85.6811C229.821 85.2654 229.987 84.8669 230.28 84.573C230.574 84.2791 230.973 84.114 231.388 84.114C231.804 84.114 232.203 84.2791 232.497 84.573C232.79 84.8669 232.955 85.2654 232.955 85.6811V101.351H248.626C249.041 101.351 249.44 101.517 249.734 101.81C250.028 102.104 250.193 102.503 250.193 102.918Z" fill="white" fill-opacity="0.2" />
      <path class="linkedinIcon__star" d="M71.5503 65.3094C71.5503 65.725 71.3853 66.1235 71.0914 66.4174C70.7975 66.7113 70.3989 66.8764 69.9833 66.8764H54.3129V82.5468C54.3129 82.9624 54.1478 83.361 53.8539 83.6548C53.5601 83.9487 53.1615 84.1138 52.7459 84.1138C52.3303 84.1138 51.9317 83.9487 51.6378 83.6548C51.3439 83.361 51.1788 82.9624 51.1788 82.5468V66.8764H35.5084C35.0928 66.8764 34.6943 66.7113 34.4004 66.4174C34.1065 66.1235 33.9414 65.725 33.9414 65.3094C33.9414 64.8937 34.1065 64.4952 34.4004 64.2013C34.6943 63.9074 35.0928 63.7423 35.5084 63.7423H51.1788V48.0719C51.1788 47.6563 51.3439 47.2577 51.6378 46.9639C51.9317 46.67 52.3303 46.5049 52.7459 46.5049C53.1615 46.5049 53.5601 46.67 53.8539 46.9639C54.1478 47.2577 54.3129 47.6563 54.3129 48.0719V63.7423H69.9833C70.3989 63.7423 70.7975 63.9074 71.0914 64.2013C71.3853 64.4952 71.5503 64.8937 71.5503 65.3094Z" fill="white" fill-opacity="0.2" />
      <path class="linkedinIcon__star" d="M83.3033 94.2996C83.3033 94.7152 83.1382 95.1138 82.8443 95.4077C82.5504 95.7015 82.1518 95.8666 81.7362 95.8666H66.0658V111.537C66.0658 111.953 65.9007 112.351 65.6069 112.645C65.313 112.939 64.9144 113.104 64.4988 113.104C64.0832 113.104 63.6846 112.939 63.3907 112.645C63.0969 112.351 62.9318 111.953 62.9318 111.537V95.8666H47.2614C46.8458 95.8666 46.4472 95.7015 46.1533 95.4077C45.8594 95.1138 45.6943 94.7152 45.6943 94.2996C45.6943 93.884 45.8594 93.4854 46.1533 93.1915C46.4472 92.8976 46.8458 92.7325 47.2614 92.7325H62.9318V77.0622C62.9318 76.6466 63.0969 76.248 63.3907 75.9541C63.6846 75.6602 64.0832 75.4951 64.4988 75.4951C64.9144 75.4951 65.313 75.6602 65.6069 75.9541C65.9007 76.248 66.0658 76.6466 66.0658 77.0622V92.7325H81.7362C82.1518 92.7325 82.5504 92.8976 82.8443 93.1915C83.1382 93.4854 83.3033 93.884 83.3033 94.2996Z" fill="white" />
      <g clip-path="url(#clip0_353_34)">
        <path d="M104.715 1.27734H169.233C184.401 1.27734 196.697 13.5733 196.697 28.7411V93.2591C196.697 108.427 184.401 120.723 169.233 120.723H104.715C89.5469 120.723 77.251 108.427 77.251 93.2591V28.7411C77.251 13.5733 89.5469 1.27734 104.715 1.27734Z" fill="#0A66C2" stroke="url(#paint0_linear_353_34)" stroke-width="2" />
        <path d="M163.879 103.546H177.765C178.268 103.546 178.751 103.347 179.107 102.991C179.462 102.635 179.662 102.152 179.663 101.649L179.67 72.3116C179.67 56.9777 176.366 45.1913 158.446 45.1913C151.634 44.938 145.21 48.4495 141.744 54.313C141.727 54.3415 141.701 54.3637 141.671 54.3761C141.64 54.3886 141.606 54.3906 141.574 54.382C141.542 54.3733 141.514 54.3544 141.493 54.3282C141.473 54.3019 141.462 54.2698 141.462 54.2367V48.5045C141.462 48.0013 141.262 47.5186 140.906 47.1627C140.55 46.8069 140.067 46.6069 139.564 46.6069H126.387C125.884 46.6069 125.401 46.8069 125.045 47.1627C124.689 47.5186 124.489 48.0013 124.489 48.5045V101.646C124.489 102.15 124.689 102.632 125.045 102.988C125.401 103.344 125.884 103.544 126.387 103.544H140.272C140.775 103.544 141.257 103.344 141.613 102.988C141.969 102.632 142.169 102.15 142.169 101.646V75.3777C142.169 67.9501 143.578 60.7568 152.787 60.7568C161.864 60.7568 161.982 69.2561 161.982 75.8587V101.649C161.982 102.152 162.182 102.635 162.538 102.991C162.893 103.346 163.376 103.546 163.879 103.546ZM94.2783 28.5647C94.2783 34.1929 98.9118 38.824 104.54 38.824C110.168 38.8235 114.798 34.1896 114.798 28.5623C114.797 22.935 110.166 18.3044 104.539 18.3044C98.9094 18.3044 94.2783 22.9365 94.2783 28.5647ZM97.5796 103.546H111.483C111.986 103.546 112.469 103.346 112.825 102.991C113.18 102.635 113.38 102.152 113.38 101.649V48.5045C113.38 48.0013 113.18 47.5186 112.825 47.1627C112.469 46.8069 111.986 46.6069 111.483 46.6069H97.5796C97.0764 46.6069 96.5937 46.8069 96.2379 47.1627C95.882 47.5186 95.6821 48.0013 95.6821 48.5045V101.649C95.6821 102.152 95.882 102.635 96.2379 102.991C96.5937 103.346 97.0764 103.546 97.5796 103.546Z" fill="#E2E2E2" />
      </g>
      <defs>
        <linearGradient id="paint0_linear_353_34" x1="197.697" y1="121.723" x2="76.251" y2="0.277344" gradientUnits="userSpaceOnUse">
          <stop stop-opacity="0.55" />
          <stop offset="1" stop-color="white" stop-opacity="0.35" />
        </linearGradient>
        <clipPath id="clip0_353_34">
          <rect width="121.446" height="121.446" fill="white" transform="translate(76.251 0.277344)" />
        </clipPath>
      </defs>
    </svg> -->
    




    <span>Conecta conmigo en</span>
    <h2>Linkedin</h2>
  </div>
</a>
<script is:inline>
  const linkedInAboutme = document.querySelector('#linkedInAboutme');
  const linkedInIcon = document.querySelector('#linkedinIcon');
  const stars = linkedInAboutme.querySelectorAll('.linkedinIcon__star');
  const bg = linkedInAboutme.querySelector('#linkedInAboutmeBg');
  const border = linkedInAboutme.querySelector('#linkedinIcon__border');

  const randomTranslate = () => Math.round(Math.random() * 6 - 3);

  linkedInAboutme.addEventListener('mouseenter', () => {
    stars.forEach(star => {
      const transformTarget = `translate(${randomTranslate()}px, ${randomTranslate()}px)`;
      star.style.transform = transformTarget;
    })
    linkedInIcon.classList.add('linkedinIcon--hover');
    bg.classList.add('linkedInAboutme__bg--hover');
    border.classList.add('linkedinIcon__border--hover');
  })
  linkedInAboutme.addEventListener('mouseleave', () => {
    stars.forEach(star => {
      star.style.transform = 'translate(0px, 0px)';
    })
    linkedInIcon.classList.remove('linkedinIcon--hover');
    bg.classList.remove('linkedInAboutme__bg--hover');
    border.classList.remove('linkedinIcon__border--hover');
  })
</script>

<style lang="scss">


  .linkedinIcon__border{
    opacity: 0;
    transform-origin: center;
    transform: rotate(-25deg);
  }

  .linkedinIcon__star, #linkedinIcon, .linkedInAboutme__bg, #linkedinIcon__border{
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  }

  .linkedinIcon--hover{
    transform: scale(1.1);
  }

  .linkedInAboutme__bg--hover{
    transform: scale(1.03);
  }

  .linkedinIcon__border--hover{
    opacity: 1;
    transform: rotate(0deg);
  }

  .linkedInAboutme{
    height: 100%;
    width: 100%;
    text-decoration: none;
    position:relative;
    display: block;
    >.linkedInAboutme__bg{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      z-index: 0;
      opacity: .1;
      transition: all 0.5s ease-in-out;
    }
    >div{
      position: relative;
      z-index: 1;
      height: 100%;
      color:white;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      @media screen and (max-width: 1100px) {
        // aspect-ratio: 1/1 ;
        padding: 1rem;
        height: auto;
      }
      @media screen and (max-width: 500px){
        span{
          display: none;
        }
        h2{
          color: white;
          margin-top: 1rem;
        }
      }
    }
    span{
      margin-top: 1rem;
      text-align: center;
    }
    h2{
      color:#FCA311;
      font-size: min(2.25rem, 6vw);
    }
    svg{
      height: auto;
      // background-color: red;
      width: min(17.5rem, 90%);
    }
  }
</style>