---

interface Props {
  gradient?:string;
}

const {gradient} = Astro.props;

const sectionBg = gradient ? `background:${gradient};` : '';

---
<section style={sectionBg}>
  <div>
    <slot/>
  </div>
</section>

<style lang="scss" >
	section{
    background-color: black;
    width: 100%;
    padding: 4rem 0;
    >div{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-auto-rows: minmax(26rem, auto);
      gap:1rem;
      grid-auto-flow: dense;
      width: min(90vw, 80rem);
      margin: 0 auto;
    }
	}

  @media (max-width: 1100px){
    section{
      >div{
        grid-template-columns: 1fr 1fr;
      }
    }
  }
</style>